##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [ ]:
def smallest_of_two_evens(a,b):
    #Write code here!
    if (a%2 == 0 and b%2 == 0):
      if(b>a):
        return a
      else:
        return b
    else:
      if(b>a):
        return b
      else:
        return a

In [ ]:
# Check1
smallest_of_two_evens(2,4)

2

In [ ]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [ ]:
def word_crackers(word1,word2):
    #Write code here!
    if(word1[0] == word2[0]):
      return True
    else:
      return False

In [ ]:
# Check1
word_crackers('Lion', 'Lady')

True

In [ ]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [ ]:
def sum_twenty(n1,n2):
    #Write code here!
    sum = n1+n2
    if n1 == 20 or n2 == 20 or sum ==20:
      return True
    else:
      return False

In [ ]:
# Check1
sum_twenty(20,10)

True

In [ ]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [ ]:
def cap_first_four(name):
    #Write code here!
    print(name[0].upper() + name[1:3] + name[3].upper() + name[4:])

In [ ]:
# Check
cap_first_four('macdonald')

MacDonald

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [ ]:
def rev_words(text):
    #Write code here!
    new_list = text.split()
    new_list.reverse()
    string = " ".join(new_list)
    print(string)

In [ ]:
# Check1
rev_words('I am home')

home am I

In [ ]:
# Check2
rev_words('We are ready')

ready are We

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def nearest_num(n):
    #Write code here!
    difference = 100 - n
    difference2 = 200 - n
    if difference <= 10 and difference2 <= 10:
      print(True)
    elif difference >= -10 and difference2 >= -10:
      print(True)
    elif difference == 0:
      print(True)
    else:
      print(False)

In [ ]:
# Check1
nearest_num(104)

True

In [ ]:
# Check2
nearest_num(150)

False

In [ ]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [ ]:
def contains_two_samevalues(nums):
    #Write code here
    for i in range(len(nums)-1):
      if nums[i+1] == nums[i]:
        return True
    return False

In [ ]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [ ]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [ ]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
def repeat_three(text):
    #write code here
    mult_three = ""
    for char in text:
      mult_three = mult_three + (char *3)
    print(mult_three)

In [ ]:
# Check1
repeat_three('Hello')

HHHeeellllllooo

In [ ]:
# Check2
repeat_three('Mississippi')

MMMiiissssssiiissssssiiippppppiii

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [22]:
def is_prime(num):
  if num <=1:
      return False
  for i in range(2, num):
    if num % i == 0:
      return False
  return True

In [26]:
is_prime(3)

True

In [27]:
def count_primes(num):
    #Write code here
    count = 0
    if num <=1:
      return count
    else:
      for i in range(2, num):
        if is_prime(i) == True:
          count = count + 1
      return count

In [28]:
# Check1
count_primes(100)

25