##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [1]:
print("Name: Jaiden")
print("City: New York")

Name: Jaiden
City: New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [2]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [10]:
number = input()
number = int(number)

number_one = number//2
number_two = number_one//2
number_three = number_two//2

print("Input is : {}".format(number))

print("Output is: {} {} {}".format(number_one,number_two,number_three))

2000
Input is : 2000
Output is: 1000 500 250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [11]:
x = int(input())
y = int(input())
z = int(input())

print(x ** z)
print(x ** y)
print(x - y)
print(x%z)

2
3
5
32
8
-1
2

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [16]:
quarter = .25
dime = .10
nickel = .05
penny = .01

total = 4 * quarter + 3 * dime + 2 * nickel + 1 * penny

print("${r:1.2f}".format(r = total))

$1.41

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [17]:
string = "Python"
string[4]

'o'

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [25]:
string = "Python"
string[2:5]

'tho'

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [26]:
string = "Python Class"
string[7:]

'Class'

9 - Find the length of the String  **Welcome to Pace University**

In [27]:
string = "Welcome to Pace University"
len(string)

26

10 - Split the String  **Welcome to Pace University**  into words

In [28]:
from re import split

string = "Welcome to Pace University"
string.split()

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [33]:
string = "Artificial intelligence"

string.replace("i","o")

'Artofocoal ontellogence'

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [35]:
string = "DATA Science"
string.lower()

'data science'

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [36]:
string = "DATA Science"
string.upper()

'DATA SCIENCE'

14 - reverse the given String  **Artificial intelligence**

In [71]:
string = "Artificial intelligence"
string[::-1]

'ecnegilletni laicifitrA'

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [37]:
a = 150
b = 225

if(a>b):
  print("a is greater than b")
elif(a == b):
  print("a and b are equal")
else:
  print("a is less than b")

a is less than b

###Lists

16 - Create a **list** of **lists** of integers elements

In [39]:
integers = [2, 3, 5]
integers

[2, 3, 5]

17 - Create a **list** of **lists** of Text elements

In [40]:
strings = ["I", "Like", "Pizza"]
strings

['I', 'Like', 'Pizza']